<main class="principal">
  <h2 class="principal__titulo">Dados do cadastro</h2>

  <form class="principal__formulario" id="formulario" #f="ngForm" (ngSubmit)="cadastrar(f)">
    <h3 class="principal__subtitulo">Dados pessoais</h3>

    <div class="formulario__campo">
      <label class="campo__etiqueta" for="nome">Nome Completo</label>
      <input 
        name="nome" 
        id="nome" 
        class="campo__escrita" 
        ngModel 
        required 
        minlength="3"
        #nome="ngModel"
      >

      <div *ngIf="(nome?.invalid && nome?.touched) || nome.dirty">
        <app-mensagem *ngIf="nome?.errors?.['required']" mensagem="O campo de nome deve ser preenchido"></app-mensagem>
        <app-mensagem *ngIf="nome?.errors?.['minlength']" mensagem="O campo de nome deve ter no minino 3 caracteres"></app-mensagem>
      </div>
    </div>

    <div class="formulario__dupla">

      <div class="formulario__campo">
        <label class="campo__etiqueta" for="nascimento">Nascimento</label>
        <input 
          name="nascimento" 
          id="nascimento" 
          type="date" 
          class="campo__escrita" 
          ngModel
          required
          maiorIdadeValidator
          #nascimento="ngModel"
        >
        <div *ngIf="(nascimento?.invalid && nascimento?.touched) || nascimento.dirty">

          <app-mensagem *ngIf="nascimento?.errors?.['required']" mensagem="O campo de data de nascimento deve ser preenchido"></app-mensagem>

          <app-mensagem *ngIf="(nascimento?.errors?.['maiorIdadeValidator'] && (!nascimento?.errors?.['required']))" mensagem="O usuario possui menos que 18 anos"></app-mensagem>

        </div>

      </div>

    <div class="formulario__campo">
      <label class="campo__etiqueta" for="telefone">Contato</label>
      <input 
        name="telefone" 
        id="telefone" 
        type="tel" 
        placeholder="(XX) XXXXX-XXXX" 
        class="campo__escrita" 
        ngModel 
        required 
        pattern="(\(?\d{2}\)?\s?)(\d{5}\-?\d{4})"
        #contato="ngModel"
      >
        <div *ngIf="(contato?.invalid && contato?.touched) ||contato.dirty">
          <app-mensagem *ngIf="contato?.errors?.['required']" mensagem="O campo de telefone deve ser preenchido"></app-mensagem>
          <app-mensagem *ngIf="contato?.errors?.['pattern']" mensagem="O campo de telefone deve seguir este padrão: '47 99999999 '"></app-mensagem>
        </div>
      </div>
    </div>

    <div class="formulario__campo">
      <label class="campo__etiqueta" for="email">E-mail</label>
      <input 
        name="email" 
        id="email" 
        type="email" 
        class="campo__escrita" 
        ngModel 
        required 
        pattern="^[\w-.]+@([\w-]+\.)+[\w-]{2,4}$" 
        #email="ngModel"
      >
      <!--email pode ser usado no lugar do pattern-->
    </div>

    <div *ngIf="(email?.invalid && email?.touched) ||email?.dirty">
      <app-mensagem *ngIf="email?.errors?.['required']" mensagem="O campo de email deve ser preenchido"></app-mensagem>
      <app-mensagem *ngIf="contato?.errors?.['pattern']" mensagem="O campo de email deve seguir este padrãi: 'exemplo@dominio.com'"></app-mensagem>
    </div>

    <h3 class="principal__subtitulo">Endereço</h3>

    <div class="formulario__campo">
      <label class="campo__etiqueta" for="cep">CEP</label>
      <input 
        name="cep" 
        id="cep" 
        class="campo__escrita" 
        ngModel
        required
        #cep="ngModel"
        pattern="^(\d{5})(-?\d{3})$" 
        minlength="8" 
        maxlength="9"
        (blur)="consultaCep($event,f)"
        validadorCep
        />
 <!--clica no campo e sai-->
        <div *ngIf="(cep?.invalid && cep?.touched) ||cep?.dirty">
          <app-mensagem *ngIf="cep?.errors?.['required']" mensagem="O campo de Cep deve ser preenchido"></app-mensagem>

          <app-mensagem *ngIf="cep?.errors?.['pattern']" mensagem="O campo de cep deve seguir este exemplo: 00000-000'"></app-mensagem>

          <app-mensagem *ngIf="cep?.errors?.['validadorCep']" mensagem="O cep informado não existe"></app-mensagem>
        </div>

    </div>

    <div class="formulario__campo">
      <label class="campo__etiqueta" for="endereco">Endereço</label>
      <input 
        name="endereco" 
        id="endereco" 
        class="campo__escrita" 
        ngModel
        #endereco="ngModel"
        required
      />
      <div *ngIf="(endereco?.invalid && endereco?.touched) ||endereco?.dirty">
        <app-mensagem *ngIf="endereco?.errors?.['required']" mensagem="O campo de Endereço é obrigatorio"></app-mensagem>
      </div>

    </div>
    <div class="formulario__dupla">
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="numero">Numero</label>
        <input 
          name="numero" 
          id="numero" 
          class="campo__escrita" 
          ngModel
          #numero="ngModel"
          required
        />
        <div *ngIf="(numero?.invalid && numero?.touched) ||numero?.dirty">
          <app-mensagem *ngIf="numero?.errors?.['required']" mensagem="O campo de Numero é obrigatorio"></app-mensagem>
        </div>
        
      </div>
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="complemento">Complemento</label>
        <input 
          name="complemento" 
          id="complemento" 
          class="campo__escrita" 
          ngModel
          #complemento="ngModel"
          required
        />

        <div *ngIf="(complemento?.invalid && complemento?.touched) ||complemento?.dirty">
          <app-mensagem *ngIf="complemento?.errors?.['required']" mensagem="O campo de complemento é obrigatorio"></app-mensagem>
        </div>


      </div>
    </div>
    <div class="formulario__campo">
      <label class="campo__etiqueta" for="bairro">Bairro</label>
      <input 
        name="bairro" 
        id="bairro" 
        class="campo__escrita" 
        ngModel
        #bairro="ngModel"
        required
      />

      <div *ngIf="(bairro?.invalid && bairro?.touched) ||bairro?.dirty">
        <app-mensagem *ngIf="bairro?.errors?.['required']" mensagem="O campo de complemento é obrigatorio"></app-mensagem>
      </div>

    </div>
    <div class="formulario__dupla">
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="cidade">Cidade</label>
        <input 
          name="cidade" 
          id="cidade" 
          class="campo__escrita" 
          ngModel
          #cidade="ngModel"
          required
        />
        <div *ngIf="(cidade?.invalid && cidade?.touched) ||cidade?.dirty">
          <app-mensagem *ngIf="cidade?.errors?.['required']" mensagem="O campo de complemento é obrigatorio"></app-mensagem>
        </div>
      </div>

     

      <div class="formulario__campo">
        <label class="campo__etiqueta" for="estado">UF</label>
        <select 
          id="estado" 
          name="estado" 
          class="campo__escrita"
          ngModel
          #estado="ngModel"
          required
        >
          <option value="AC">Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AP">Amapá</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espírito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MT">Mato Grosso</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
          <option value="TO">Tocantins</option>
          <option value="EX">Estrangeiro</option>
        </select>

        <div *ngIf="(estado?.invalid && estado?.touched) ||cidade?.dirty">
          <app-mensagem *ngIf="estado?.errors?.['required']" mensagem="O campo de estado é obrigatorio"></app-mensagem>
        </div>
      </div>

    </div>

    <button type="submit" class="formulario__botao">Enviar formulário</button>
    </form>
</main>
